.container {
    position: relative;
    width: 850px;
    height: 500px;
    background: #fff;
    margin-left: 180px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
    display: flex;

    // display: flex;
    form {
        margin-left: 30px;
        h1 {
            font-size: 36px;
            margin: 10px 20px;
            // align-items: center;
        }

        p {
            font-size: 16px;
            margin-left: 120px;
        }

        .input-box {
            color: #888;
            font-weight: 400;

            input {
                width: 92%;
                padding: 10px 32px;
                background: #eee;
                border-radius: 8px;
                border: none;
                outline: none;
                font-size: 16px;
                color: #333;
                font-weight: 500;
                margin: 10px;

                &::placeholder {
                    color: #888;
                    font-weight: 400;
                }
            }
        }

        .forgot-link {
            margin: -15px 0 15px;
            margin-left: 264px;

            a {
                font-size: 16px;
                color: #333;
            }
        }

        .btn {
            width: 80%;
            height: 48px;
            margin-left: 72px;
            background: #F36326;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            border: none;
            cursor: pointer;
            font-size: 16px;
            color: #fff;
            font-weight: 600;
        }

        .social-icons {
            display: flex;
            justify-content: center;
        }

        .social-icons a {
            display: inline-flex;
            padding: 5px;
            border: 2px solid #ccc;
            border-radius: 8px;
            font-size: 24px;
            color: #333;
            margin-left: 50px;
        }

        span {
            margin-left: 110px;
            padding-top: 24px;
            display: inline;
        }

        .SignIn {
            position: relative;
            top: -22px;
            left: 280px;

            a {
                text-decoration: none;
                color: #913108;

                &:hover {
                    color: red;
                }
            }
        }
    }
}