li {
    list-style-type: none;
}

/* button{
    border: 1px solid #ddd;
    background-color: aqua;
} */
#create {
    background-color: #62b365;
    border: 4px solid #089d0d;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

#create:hover {
    background-color: #4ca852;
    /* Đậm hơn một chút */
    border-color: #067f0a;
    /* Viền đậm hơn */
    color: white;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

#delete {
    background-color: #f7564b;
    border: 2px solid #f31101;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

#delete:hover {
    background-color: #d94338;
    /* đỏ đậm hơn */
    border-color: #b30d00;
    /* viền sẫm hơn */
    color: white;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

#edit {
    background-color: #f0ad4e;
    border: 2px solid #9a6215;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    margin: 10px;
    cursor: pointer;
}

#edit:hover {
    background-color: #f6bd6a;
    /* sáng hơn một chút */
    border-color: #b9771d;
    /* viền tươi hơn */
    color: white;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

#submit {
    background-color: #28a745;
    border: 4px solid #1e7e34;
    color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    margin-left: 560px;
}

#submit:hover {
    background-color: #218838;
    border-color: #1c7430;
    color: white;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

.question {
    border: 2px solid #000;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 30px;
    padding-right: 0;
    background-color: #ececec;
}